<section class="page-section"></section>
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase invisible">.</h2>
                    <h2 class="section-heading text-uppercase"><a href="">Продажи по регионам</a></h2>
                </div>
                <div class="row text-center">                     
                    <div class="col-lg-12">
                        <div class="product-card">
                        <li class="nav-item btn btn-primary"><a class="nav-link" href="{% url 'im:sales_region_rus' region='кемерово' %}">Кемерово</a></li>
                        <li class="nav-item btn btn-primary"><a class="nav-link" href="{% url 'im:sales_region_rus' region='новосибирск' %}">Новосибирск</a></li>
                        <li class="nav-item btn btn-primary"><a class="nav-link" href="{% url 'im:sales_region_rus' region='алтай' %}">Алтай</a></li>
                        <li class="nav-item btn btn-primary"><a class="nav-link" href="{% url 'im:sales_region_rus' region='красноярск' %}">Красноярск</a></li>
                        <li class="nav-item btn btn-primary"><a class="nav-link" href="{% url 'im:sales_region_rus' region='томск' %}">Томск</a></li>
                        <li class="nav-item btn btn-primary"><a class="nav-link" href="{% url 'im:sales_region_rus' region='новокузнецк' %}">Новокузнецк</a></li>
                        </div>
                    </div>   
                </div>         
            </div>
        </section>