<section class="page-section"></section>
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase invisible">.</h2>
            <h2 class="section-heading text-uppercase"><a href="">Продажи по менеджеру</a></h2>
        </div>
        <div class="row text-center">                     
            <div class="col-lg-6">Кемерово
                <div class="product-card">
                <li class="nav-item btn btn-forth"><a class="nav-link" href="{% url 'im:sales_manager_rus' manager='Базаров' %}">Базаров</a></li>
                <li class="nav-item btn btn-forth"><a class="nav-link" href="{% url 'im:sales_manager_rus' manager='Слитников' %}">Слитников</a></li>
                </div>
            </div>   
            <div class="col-lg-6">Новосибирск
                <div class="product-card">
                <li class="nav-item btn btn-forth"><a class="nav-link" href="{% url 'im:sales_manager_rus' manager='Михайлов' %}">Михайлов</a></li>
                <li class="nav-item btn btn-forth"><a class="nav-link" href="{% url 'im:sales_manager_rus' manager='Петровский' %}">Петровский</a></li>
                <li class="nav-item btn btn-forth"><a class="nav-link" href="{% url 'im:sales_manager_rus' manager='Пинигин' %}">Пинигин</a></li>
                <li class="nav-item btn btn-forth"><a class="nav-link" href="{% url 'im:sales_manager_rus' manager='Филатов' %}">Филатов</a></li>
                </div>
            </div>   
        </div>         
    </div>
</section>